
.App {
  text-align: center;
  overflow: hidden;
}
.clock {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.flex{
  display: flex;
}
.clock{
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px red;
}
.position{ position: absolute!important;   top: 5px; right: 5px;}
.ant-divider{height: 3em;}
.App-header {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: fit-content;
}
.list {
  background-color: #dbdbdb;
  min-height: 100vh;
  padding: 20px;
  margin: 0;
  flex: 1;
  list-style: none;
  overflow: hidden;
  width: 50vw;
}
.list:nth-child(2) {
  background-color: #bbd3f9;
}
.list:nth-child(3) {
  background-color: #e2ffd8;
}
.list_item {
  border: 1px solid #000;
  margin: 1px;
  padding: 20px;
  display: flex;
  animation-name: fadeIn;
  animation-duration: 1s;
  word-break: break-all
}
.list_item label { display: flex; flex: 10;}
.list_item div{ flex: 1;}
.list_item input { display: none;}
.list_item strong { font-size: 25px;}
.toDo p {
  margin: 10px;
  word-wrap: break-word;
  font-size: 16px;
  -webkit-text-stroke: 1px black;
  color: yellowgreen;
}
.done p {
  margin: 10px;
  word-wrap: break-word;
  font-size: 16px;
  -webkit-text-stroke: 1px black;
  text-decoration: line-through underline white;
  color: black;
}
.button {
  width: 110px;
  display: inline-block;
}
.App-link {
  margin: 15px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
